<div class="col mb-4">
  <div class="card card-block">
    <%= link_to(image_tag(channel.image, class: "card-img-top"), channel) %>
    <div class="card-body p-2">
      <h5 class="card-title text-truncate mb-0"><%= link_to channel.name, channel, title: channel.name %></h5>
      <p class="card-text mb-0" style="height: 72px">
        <small>
          <abbr title="<%= channel.description %>">
            <%= truncate(channel.description, length: 90) %>&nbsp;
          </abbr>
        </small>
      </p>
      <div class="btn-group btn-group-sm btn-block mt-2">
        <% channel.sources.each do |source| %>
          <%= link_to I18n.t(source.kind), source.url, class: "btn btn-#{ source.kind }", target: :blank %>
        <% end %>
      </div>
    </div>
    <% if Rails.env.development? %>
      <div class="card-footer p-2">
        <div class="btn-group btn-group-sm btn-block">
          <%= link_to "Edit", edit_channel_path(channel), class: "btn btn-light btn-outline-dark" %>
          <%= link_to 'Destroy', channel, method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>