<div class="container-fluid">
  <div class="row my-2">
    <div class="col">
      <div class="d-block d-md-flex justify-content-between">
        <h1 class="h2 mb-2 mr-auto">
          <%= link_to I18n.t(:channels), channels_path %>
        </h1>

        <div class="mb-2 mr-0 mr-md-2">
          <%= search_form_for @q, wrapper: :inline_form do |f| %>
            <div class="input-group">
              <%= f.input_field :name_or_description_cont, label: 'Search', class: 'form-control border-white border-top-none', type: :search %>
              <div class="input-group-append">
                <%= f.button :submit, class: 'btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="mb-2">
          <%== pagy_bootstrap_combo_nav_js(@pagy) %>
        </div>
      </div>
    </div>

    <div class="col-12">
      <%= card_row do %>
        <% @channels.each do |channel| %>
          <%= render channel %>
        <% end %>
      <% end %>
    </div>
  </div>

  <br>

  <%#= link_to 'New Channel', new_channel_path %>
</div>