<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %> |

<% if Rails.env.development? %>
  <%= link_to 'Sync', sync_channel_path(@channel) %>
<% end %>

<p>
  <strong>Image:</strong>
  <%= image_tag @channel.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <%= @channel.updated_at.to_s(:formatted) %>
  <br/>
  <%= time_ago_in_words @channel.updated_at.to_s(:formatted) %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @channel.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<p>
  <strong>Sources:</strong>
  <ul>
    <% @channel.sources.order_by_type.each do |source| %>
      <li>
        <%= link_to I18n.t(source.kind), source.url, target: "_blank" %>
        <ul>
          <li><%= source.rss_url %></li>
        </ul>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Socials:</strong>
  <ul>
    <% @channel.socials.order_by_type.each do |social| %>
      <li>
        <%= link_to I18n.t(social.kind), social.url, target: "_blank" %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Support:</strong>
  <ul>
    <% @channel.supports.order_by_type.each do |support| %>
      <li>
        <%= link_to I18n.t(support.kind), support.url, target: "_blank" %>
      </li>
    <% end %>
  </ul>
</p>

<%= @channel.videos.count %>

<%= card_row do %>
  <% @channel.videos.published.latest.each do |video| %>
    <%= render video %>
  <% end %>
<% end %>