<%= content_for :head do %>
  <meta property="og:image" content="<%= @channel.image %>">
  <meta name="description" content="<%= @channel.description %>">
<% end %>

<div class="container-fluid">
  <div class="row my-3">
    <div class="col">
      <div class="overflow-hidden align-text-bottom">
        <%= logo_tag @channel, width: "100px" %>
        <div class="float-left ml-3" style="width: calc(100% - 120px); max-width: 60em">
          <h1 class="h3"><%= link_to @channel.name, @channel %></h1>
          <%= @channel.description %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      
      <% @sources.each do |source| %>
        <%= link_to I18n.t(source.kind), source.url, class: "btn btn-sm mb-1 btn-#{ source.kind }", target: :blank %>
      <% end %>

      <% @socials.each do |social| %>
        <%= link_to I18n.t(social.kind), social.url, class: "btn btn-sm mb-1 btn-#{ social.kind }", target: :blank %>
      <% end %>
      
      <% @supports.each do |support| %>
        <%= link_to I18n.t(support.kind), support.url, class: "btn btn-sm mb-1 btn-#{ support.kind }", target: :blank %>
      <% end %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col">
      <div class="d-block d-md-flex justify-content-between">
        <h2 class="mr-auto"><%=  I18n.t(:videos) %></h2>

        <div class="">
          <%== pagy_bootstrap_combo_nav_js(@pagy) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <%= card_row do %>
        <% @videos.each do |video| %>
          <%= render video %>
        <% end %>
      <% end %>

      <% if Rails.env.development? %>
        <%= link_to 'Edit', edit_channel_path(@channel) %> |
        <%= link_to 'Sync', sync_channel_path(@channel) %>
      <% end %>
    </div>
  </div>
</div>