<div class="container-fluid">
  <div class="row my-3">
    <div class="col">
      <div class="overflow-hidden align-text-bottom">
        <%= image_tag @channel.image, class: "float-left", style: "width: 100px" %>
        <div class="float-left ml-3" style="width: calc(100% - 120px); max-width: 60em">
          <h1><%= link_to @channel.name, @channel %></h1>
          <%= @channel.description %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      
      <% @sources.each do |source| %>
        <%= link_to I18n.t(source.kind), source.url, class: "btn btn-sm btn-#{ source.kind }", target: :blank %>
      <% end %>

      <% @socials.each do |social| %>
        <%= link_to I18n.t(social.kind), social.url, class: "btn btn-sm btn-#{ social.kind }", target: :blank %>
      <% end %>
      
      <% @supports.each do |support| %>
        <%= link_to I18n.t(support.kind), support.url, class: "btn btn-sm btn-#{ support.kind }", target: :blank %>
      <% end %>
    </div>
  </div>

  <div class="row my-2">
    <div class="col">
      <h2 class="float-left"><%=  I18n.t(:videos) %></h2>

      <div class="float-right">
        <%== pagy_bootstrap_combo_nav_js(@pagy) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <%= card_row do %>
        <% @videos.each do |video| %>
          <%= render video %>
        <% end %>
      <% end %>

      <% if Rails.env.development? %>
        <%= link_to 'Edit', edit_channel_path(@channel) %> |
        <%= link_to 'Sync', sync_channel_path(@channel) %>
      <% end %>
    </div>
  </div>
</div>