<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %> |

<% if Rails.env.development? %>
  <%= link_to 'Sync', sync_channel_path(@channel) %>
<% end %>

<p>
  <strong>Image:</strong>
  <%= image_tag @channel.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <%= @channel.updated_at.to_s(:formatted) %>
  <br/>
  <%= time_ago_in_words @channel.updated_at.to_s(:formatted) %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @channel.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<p>
  <strong>Sources:</strong>
  <ul>
    <% @channel.sources.each do |source| %>
      <li><%= link_to source.type.to_s.gsub("ChannelSource::",""), source.url %></li>
    <% end %>
  </ul>
</p>

<%= @channel.videos.count %>

<%= card_row do %>
  <% @channel.videos.published.latest.each do |video| %>
    <%= render video %>
  <% end %>
<% end %>