<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="/"><%= I18n.t(:breadtubetv) %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_class?(:videos) %>">
        <%= link_to I18n.t(:videos), videos_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_class?(:channels) %>">
        <%= link_to I18n.t(:channels), channels_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav pull-right">
      <li class="nav-item">
        <%= 
          link_to LINKS[:peertube_upload], class: "nav-link border rounded p-1 px-3 m-1 bg-peertube border-peertube font-weight-bold", title: I18n.t(:upload) do 
            icon('fas', 'upload') + " " + I18n.t(:upload)
          end
        %>
      </li>
    </ul>
  </div>
</nav>