<div class="col mb-4">
  <div class="card card-block">
    <%= link_to(image_tag(video.image, class: "card-img-top"), video) %>
    <div class="card-body">
      <h5 class="card-title text-truncate"><%= link_to video.name, video, title: video.name %></h5>
      <p class="card-text text-truncate">
        <abbr title="<%= video.description %>">
          <%= video.description %>
        </abbr>
      </p>
      <p>
        <small>
          <%= link_to video.channel.name, video.channel, title: video.channel.name %>
        </small>
      </p>
      <%= link_to "Watch", video.sources.first.url, class: "btn btn-primary", target: :blank %>
      <div class="btn-group">
        <%= link_to "Edit", edit_video_path(video), class: "btn btn-info" %>
        <%= link_to 'Destroy', video, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>