<% simple = defined?(locals[:simple]) %>

<div class="col mb-4">
  <div class="card card-block">
    <%= link_to(image_tag(video.image, class: "card-img-top"), [video.channel, video]) %>
    <div class="card-body p-2">
      <%= logo_tag video.channel.image, float: "left" %>
      <h5 class="card-title text-truncate mb-0">
        <small class="font-weight-bold">
          <%= link_to video.name.html_safe, [video.channel, video], title: video.name.html_safe %>
        </small>
      </h5>
      <div class="mb-0 d-block overflow-hidden text-nowrap">
        <small class="d-inline-block text-truncate" style="max-width: 50%;">
          <%= link_to video.channel.name, video.channel, title: video.channel.name %>
        </small>
        <small class="d-inline-block text-truncate" style="max-width: 40%;">
          &middot;
          <%= time_ago_in_words(video.published_at).gsub("about", "") %> ago
        </small>
      </div>
      <% if !simple %>
        <div class="btn-group btn-group-sm btn-block mt-2">
          <% video.sources.order_by_type.each do |source| %>
            <%= link_to I18n.t(source.kind), source.url, class: "btn btn-#{ source.kind } font-weight-bold", target: :blank %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if !simple && Rails.env.development? %>
      <div class="card-footer p-2">
        <div class="btn-group btn-group-sm btn-block">
          <%= link_to "Edit", edit_channel_video_path(video.channel, video), class: "btn btn-light btn-outline-dark font-weight-bold" %>
          <%= link_to 'Destroy', [video.channel, video], method: :delete, class: "btn btn-outline-danger font-weight-bold", data: { confirm: 'Are you sure?' } %>
        </div> 
      </div>
    <% end %>
  </div>
</div>