<div class="col mb-4">
  <div class="card card-block">
    <%= link_to(image_tag(video.image, class: "card-img-top"), video) %>
    <div class="card-body">
      <h5 class="card-title text-truncate"><%= link_to video.name.html_safe, video, title: video.name %></h5>
      <p class="card-text text-truncate">
        <abbr title="<%= video.description %>">
          <%= video.description %>&nbsp;
        </abbr>
      </p>
      <%= link_to "Watch", video.youtube.url, class: "btn btn-block btn-primary", target: :blank %>
      <div class="btn-group btn-group-sm btn-block mt-2">
        <%= link_to "Edit", edit_video_path(video), class: "btn btn-light btn-outline-dark" %>
        <%= link_to 'Destroy', video, method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
      </div>
      <div class="mt-3 mb-0 text-truncate">
        <small><%= link_to video.channel.name, video.channel, title: video.channel.name %></small>
      </div>
      <div class="my-0">
        <small><%= video.published_at.to_s %></small>
      </div>
    </div>
  </div>
</div>