<div class="container-fluid">
  <div class="row my-2">
    <div class="col">
      <h1 class="h2 float-left"><%= I18n.t(:videos) %></h1>

      <div class="float-right">
        <%== pagy_bootstrap_combo_nav_js(@pagy) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-3 col-lg-2 mb-3">
      <%= search_form_for @q do |f| %>
        <%= f.input :name_or_description_or_channel_name_cont, label: 'Search' %>

        <%= f.button :submit, class: 'btn-primary btn-block' %>
      <% end %>
    </div>

    <div class="col-12 col-md-9 col-lg-10">
      <%= card_row do %>
        <% @videos.each do |video| %>
          <%= render video %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%#= link_to 'New video', new_video_path %>
</div>