<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @video.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>published at:</strong>
  <%= @video.published_at %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @video.channel %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
