<p>
  <strong>Name:</strong>
  <%= @video.name.html_safe %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @video.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video.description %>
</p>

<p>
  <strong>published at:</strong>
  <%= @video.published_at %>
</p>

<p>
  <strong>Channel:</strong>
  <%= link_to @video.channel.name, @video.channel %>
</p>

<% @video.sources.each do |source| %>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="<%= source.embed_url %>"></iframe>
  </div>
<% end %>

<p>
  <strong>Tags:</strong>
  <ul>
    <% @video.tags.each do |tag| %>
      <li><%= tag %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
