<%= content_for :head do %>
  <meta property="og:image" content="<%= @video.image %>">
  <meta name="description" content="<%= @video.description %>">
<% end %>

<div class="container-fluid">
  <div class="row mt-2">
    <div class="col col-sm-8 col-md-9">
      <div class="tab-content" id="pills-tabContent">
        <% @video.sources.order_by_type.each_with_index do |source, index| %>
          <% id = "video_sources-#{ source.kind }" %>
          <div class="tab-pane fade show <%= 'active' if (index == 0) %>" id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>">
            <div class="embed-responsive embed-responsive-16by9" style="max-height: 100vh">
              <iframe class="embed-responsive-item" src="<%= source.embed_url %>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        <% end %>
      </div>

      <ul class="nav nav-pills my-3" id="sources-tab" role="tablist">
        <% @video.sources.order_by_type.each_with_index do |source, index| %>
          <% id = "video_sources-#{ source.kind }" %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if (index == 0) %> source-<%= source.kind %>" id="<%= id %>" data-toggle="pill" href="#<%= id %>" role="tab" aria-controls="<%= id %>" aria-selected="true">
              <%= I18n.t source.kind %>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="row overflow-hidden">
        <div class="col-12 col-md-9 col-lg-9 col-xl-10">
          <h1 class="h4 mb-0">
            <%= @video.name.html_safe %>
          </h1>
          
          <p class="my-0">
            <small>
              <%= @video.published_at %>
            </small>
          </p>

          <% if @video.description.present? %>
            <div class="links-target-blank">
              <%= simple_format markdown.render(@video.description).html_safe %>
            </div>
          <% end %>

          <p>
            <ul>
              <% @video.tags.each do |tag| %>
                <li><%= tag %></li>
              <% end %>
            </ul>
          </p>
        </div>

        <div class="col-12 col-md-3 col-lg-3 col-xl-2">
          <div class="overflow-hidden mb-1">
            <%= logo_tag @channel %>
            <div class="float-left" style="width: calc(100% - 50px)">
              <h5 class="mb-0">
                <small class="font-weight-bold">
                  <%= link_to @channel.name, @channel %>
                </small>
              </h5>
            </div>
          </div>
          <% if @channel.description.present? %>
            <small>
              <%= simple_format markdown.render(@channel.description).html_safe %>
            </small>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 col-md-3">
      <div class="row row-cols-1">
        <%= render @videos, locals: { simple: true } %>
      </div>
    </div>
  </div>

  <% if Rails.env.development? %>
    <%= link_to 'Edit', edit_channel_video_path(@video.channel, @video) %>
    <%= link_to 'Sync', sync_channel_video_path(@channel, @video) %>
    <div>
      <%= @video.inspect %>
    </div>
    <div>
      <%= @video.youtube.inspect %>
    </div>
  <% end %>
</div>