<% @video.sources.each do |source| %>
  <div class="embed-responsive embed-responsive-16by9" style="max-height: 100vh">
    <iframe class="embed-responsive-item" src="<%= source.embed_url %>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<% end %>

<div class="container mt-4">
  <div class="row">
    <div class="col-8">
      <h1 class="h4">
        <%= @video.name.html_safe %>
      </h1>

      <p>
        <%= simple_format @video.description %>
      </p>

      <p>
        <strong>published at:</strong>
        <%= @video.published_at %>
      </p>

      <p>
        <strong>Channel:</strong>
        <%= link_to @video.channel.name, @video.channel %>
      </p>

      <p>
        <strong>Tags:</strong>
        <ul>
          <% @video.tags.each do |tag| %>
            <li><%= tag %></li>
          <% end %>
        </ul>
      </p>

      <%= link_to 'Edit', edit_video_path(@video) %> |
      <%= link_to 'Back', videos_path %>
    </div>
    <div class="col-4">
      <%= render @videos %>
    </div>
  </div>
</div>