<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @video.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format @video.description %>
</p>

<p>
  <strong>published at:</strong>
  <%= @video.published_at %>
</p>

<p>
  <strong>Channel:</strong>
  <%= link_to @video.channel.name, @video.channel %>
</p>

<p>
  <strong>Tags:</strong>
  <ul>
    <% @video.tags.each do |tag| %>
      <li><%= tag %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
