<%= content_for :title, t("titles.videos.show", name: @video.name) %>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col col-sm-8 col-md-9">
      <div class="tab-content" id="pills-tabContent">
        <% @video.sources.order_by_type.each_with_index do |source, index| %>
          <% id = "video_sources-#{ source.kind }" %>
          <div class="tab-pane fade show <%= 'active' if (index == 0) %>" id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>">
            <div class="embed-responsive embed-responsive-16by9" style="max-height: 100vh">
              <iframe class="embed-responsive-item" src="<%= source.embed_url %>" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        <% end %>
      </div>
      <ul class="nav nav-pills mt-1" id="sources-tab" role="tablist">
        <% @video.sources.order_by_type.each_with_index do |source, index| %>
          <% id = "video_sources-#{ source.kind }" %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if (index == 0) %> source-<%= source.kind %> font-weight-bold" id="<%= id %>" data-toggle="pill" href="#<%= id %>" role="tab" aria-controls="<%= id %>" aria-selected="true">
              <%= I18n.t source.kind %>
            </a>
          </li>
        <% end %>
      </ul>

      <div class="row mt-4" style="overflow: hidden">
        <div class="col-12 col-md-9 col-lg-9 col-xl-10 mb-3">
          <h1 class="h4 font-weight-bold">
            <%= @video.name.html_safe %>
          </h1>
          
          <%= simple_format @video.description %>

          <%= link_to 'Edit', edit_channel_video_path(@video.channel, @video) %> |
          <%= link_to 'Back', videos_path %>

          <% if Rails.env.development? %>
            <%= link_to 'Sync', sync_channel_video_path(@channel, @video) %>
          <% end %>

          <p>
            <ul>
              <% @video.tags.each do |tag| %>
                <li><%= tag %></li>
              <% end %>
            </ul>
          </p>
        </div>

        <div class="col-12 col-md-3 col-lg-3 col-xl-2">
          <div style="overflow: hidden" class="mt-4">
            <div class="float-left">
              <h5 class="mb-0">
                <small>
                  <%= link_to @video.channel.name, @video.channel %>
                </small>
              </h5>
              <p class="mt-0">
                <small>
                  <%= @video.published_at %>
                </small>
              </p>
            </div>
            <%= logo_tag @video.channel.image %>
          </div>
          <p>
            <%= @video.channel.description %>
          </p>

        </div>
      </div>
      <% if Rails.env.development? %>
        <div>
          <%= @video.inspect %>
        </div>
        <div>
          <%= @video.youtube.inspect %>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-4 col-md-3">
      <%= render @videos, locals: { simple: true } %>
    </div>
  </div>
</div>