<h2 class="mt-4">Latest Videos</h2>

<%= card_row do %>
  <% @latest_videos.each do |video| %>
    <%= render video %>
  <% end %>
<% end %>

<h2 class="mt-4">Featured Channels</h2>

<%= card_row do %>
  <% @features.each do |feature| %>
    <%= render feature.channel %>
  <% end %>
<% end %>

<h2 class="mt-4">Random Videos</h2>

<%= card_row do %>
  <% @random_videos.each do |video| %>
    <%= render video %>
  <% end %>
<% end %>