<% content_for :head do %>
  <meta name="description" content="BreadTube is a place for the new wave of creators, journalists and artists making high-quality content that goes against the prevailing winds of the internet. Politics, History, Economics, Science, Media Analysis, Free Speech, Film Criticism, Philosophy, Anarchism - as long as it is thoughtful and well researched, it is welcome here.">
<% end %>

<div class="container-fluid">

  <div id="latest-videos" class="row my-2">
    <div class="col">
      <h2><%= link_to I18n.t(:latest_videos), videos_path %></h2>

      <%= card_row do %>
        <% @latest_videos.each do |video| %>
          <%= render video %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="random-channels" class="row my-2">
    <div class="col">
      <h2><%= link_to I18n.t(:latest_channels), channels_path %></h2>

      <%= card_row do %>
        <% @latest_channels.each do |channel| %>
          <%= render channel %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="random-videos" class="row my-2">
    <div class="col">
      <h2><%= link_to I18n.t(:random_videos), videos_path %></h2>

      <%= card_row do %>
        <% @random_videos.each do |video| %>
          <%= render video %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="random-channels" class="row my-2">
    <div class="col">
      <h2><%= link_to I18n.t(:random_channels), channels_path %></h2>

      <%= card_row do %>
        <% @random_channels.each do |channel| %>
          <%= render channel %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>