<tr>
  <td><%= image_tag "http://img.youtube.com/vi/#{ post.source_id }/default.jpg" %></td>
  <td><%= link_to post.name, post.source_url, target: :blank %></td>
  <td><%= link_to post.channel.name, post.channel %></td>
  <td><%= post.slug %></td>
  <td><%= post.description %></td>
  <td><%= post.published_at %></td>
  <td><%= post.kind %></td>
  <td><%= post.source_url %></td>
  <td><%= link_to 'Show', post %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>