<!DOCTYPE html>
<html>
  <head>
    <%= render "partials/head" %>
  </head>

  <body style="padding-top: 80px">
    <%= render "partials/navbar" %>

    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= notice %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <%= render "partials/beta" %>
    <%= render "partials/footer" %>
    <%= render "partials/foot" %>
  </body>
</html>
