<!DOCTYPE html>
<html>
  <head>
    <title>Breadtubetv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="text-align: center">
      This is a work-in-progress, content will be reset every hour.
      Contact <a href="https://twitter.com/dirkkellycom" target="_blank">@dirkkellycom</a>
      if you'd like to be involved with developing this site.
    </div>
    <%= yield %>
  </body>
</html>
