<!DOCTYPE html>
<html>
  <head>
    <title>BreadTube.tv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="text-align: center">
      This is a work-in-progress, content will be reset every hour.
      Contact <a href="https://twitter.com/dirkkellycom" target="_blank">@dirkkellycom</a>
      if you'd like to be involved with developing this site.
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">BreadTube.tv</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if current_page?({controller: :videos}) %>">
            <%= link_to "Videos", videos_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if current_page?({controller: :channels}) %>">
            <%= link_to "Channels", channels_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
