<!DOCTYPE html>
<html>
  <head>
    <%= render "partials/head" %>
  </head>

  <body>
    <div class="alert alert-warning mb-0 text-center" role="alert">
      This is a work-in-progress, content will be reset every hour.
      Contact <a href="https://twitter.com/dirkkellycom" target="_blank">@dirkkellycom</a>
      if you'd like to be involved with developing this site.
    </div>

    <%= render "partials/navbar" %>

    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong><%= notice %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <%= render "partials/footer" %>
  </body>
</html>
